@font-face {
    font-family: 'Northwell';
    src: url('../fonts/Northwell.eot');
    src: local('Northwell'),
        url('../fonts/Northwell.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Northwell.woff2') format('woff2'),
        url('../fonts/Northwell.woff') format('woff'),
        url('../fonts/Northwell.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.converter {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.converter > h1 {
    font-family: 'Northwell';
    margin: 0;
    margin-bottom: 0px;
    font-size: 110px;
    padding-left: 50px;
    color: #ffffff;
}

.rubles {
    margin-bottom: 10px;
}

label {
    font-size: 20px;
    margin-right: 10px;
    color: azure;
}

input {
    width: 250px;
    height: 25px;
    padding: 5px;
    color: #ceaec0;
    border: azure solid 2px;
    box-shadow: 0 0 10px #9985a1;
}

input:focus {
    outline: none;
}